*,
button {
  outline: none !important; }

body {
  font-family: 'Quicksand', sans-serif;
  @apply text-rose-gold-900; }

.logo {
  max-width: 220px; }

.l-embla {
  overflow: hidden;
  position: relative; }

.l-embla-viewport.is-draggable {
  cursor: move;
  cursor: grab; }

.l-embla-viewport.is-dragging {
  cursor: grabbing; }

.l-embla-wrapper {
  display: flex;
  align-items: center; }

.l-embla-btn {
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  fill: #fbf8f8;
  padding: 10px;
  @apply ring-1 ring-rose-gold-500 border-2 border-solid rounded-full border-rose-gold-50 bg-rose-gold-500 hover:bg-rose-gold-600 transition; }

.l-embla-btn:disabled {
  cursor: default;
  opacity: 0; }

.l-embla-btn-svg {
  width: 100%;
  height: 100%; }

.l-embla-btn-prev {
  left: 27px; }

.l-embla-btn-next {
  right: 27px; }

.l-embla-dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px; }

.l-embla-dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center; }
  .l-embla-dot:hover:after {
    background-color: #b76e79; }

.l-embla-dot:after {
  @apply transition;
  background-color: #eddbde;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  content: ''; }

.l-embla-dot.is-selected:after {
  background-color: #b76e79;
  opacity: 1; }

#l-menu .l-embla-wrapper {
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    #l-menu .l-embla-wrapper {
      justify-content: center;
      transform: initial !important; } }

#l-menu a.active {
  border: 1px solid;
  @apply bg-rose-gold-100 border-rose-gold-100 shadow-sm; }

#l-slide {
  width: 100%; }
  #l-slide .l-embla-viewport {
    overflow: hidden;
    width: 100%; }
  #l-slide .l-embla-wrapper {
    margin-left: -16px; }
  #l-slide .l-embla-content {
    flex: 0 0 auto;
    width: 80%;
    max-width: 1550px;
    height: clamp(300px, calc(600 / 1536 * 100vw), 60vh);
    padding-left: 16px;
    position: relative;
    overflow: hidden; }
    @media (min-width: 640px) {
      #l-slide .l-embla-content {
        height: clamp(380px, calc(600 / 1536 * 100vw), 60vh); } }
    @media (min-width: 768px) {
      #l-slide .l-embla-content {
        height: clamp(460px, calc(600 / 1536 * 100vw), 60vh); } }
    #l-slide .l-embla-content img {
      width: 100%;
      object-fit: cover; }

.equilibrium::before {
  content: '';
  @apply w-40 h-40 transform -translate-x-1/2 -translate-y-1/2 absolute border border-solid rounded-full border-rose-gold-200 top-1/2 left-1/2 z-10 bg-white; }
  @media (min-width: 640px) {
    .equilibrium::before::before {
      content: none; } }

.equilibrium::after {
  content: '';
  @apply w-px h-full absolute bg-rose-gold-200 z-0; }
  @media (min-width: 640px) {
    .equilibrium::after::after {
      content: none; } }

@media (min-width: 640px) {
  .equilibrium svg {
    position: initial; } }

#l-services {
  width: 100%; }
  #l-services .l-embla-viewport {
    overflow: hidden;
    width: 100%;
    padding-right: 16px; }
  #l-services .l-embla-wrapper {
    margin-left: -16px; }
  #l-services .l-embla-content {
    padding-left: 16px;
    flex: 0 0 auto;
    width: 90%;
    max-width: 360px;
    height: clamp(340px, calc(600 / 1536 * 100vw), 480px);
    transition: max-width 0.2s; }
    @media (min-width: 1024px) {
      #l-services .l-embla-content {
        max-width: 400px; } }
    #l-services .l-embla-content img {
      width: 100%;
      object-fit: cover; }

#main-carousel .l-embla-viewport {
  overflow: hidden;
  width: 100%; }

#main-carousel .l-embla-wrapper {
  display: flex;
  margin-left: -8px; }

#main-carousel .l-embla-content {
  padding-left: 8px;
  flex: 0 0 auto;
  width: 100%;
  height: clamp(340px, calc(600 / 1536 * 100vw), 600px); }

#thumb-carousel .l-embla-wrapper {
  cursor: default;
  padding-top: 8px;
  margin-left: -8px; }

#thumb-carousel .l-embla-content {
  padding-left: 8px;
  min-width: 25%; }
  @media (min-width: 480px) {
    #thumb-carousel .l-embla-content {
      min-width: 20%; } }
  #thumb-carousel .l-embla-content img {
    opacity: 0.4;
    transition: opacity 0.2s; }
    @media (min-width: 1024px) {
      #thumb-carousel .l-embla-content img:hover {
        opacity: 1; } }

#thumb-carousel .is-selected img {
  opacity: 1; }

.oddeven-child img {
  max-height: 275px; }

.oddeven-child input:checked ~ .oddeven-text {
  transition: max-height 1s;
  max-height: 900px; }

.oddeven-text {
  transition: max-height 1s;
  max-height: 290px; }

@media (min-width: 1024px) {
  .oddeven:nth-child(even) .oddeven-child {
    flex-direction: row-reverse; } }

.text-fluid-2xl {
  font-size: clamp(2rem, calc(60 / 1536 * 100vw), 3.75rem); }

.grow img {
  transition: all 0.2s ease-in-out; }

.grow:hover img {
  transform: scale(1.1); }

.ellipsis {
  display: block;
  display: -webkit-box;
  height: 3em;
  line-height: 1.5em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*word-break: break-all;*/ }
