*,
button {
  outline: none !important;
}
// html {
//   scrollbar-width: thin;
//   scrollbar-color: rgba(0, 0, 0, 0.25) #fff;
// }
// ::-webkit-scrollbar {
//   width: 1.4rem;
//   height: 1.4rem;
//   background-color: transparent;
// }

// ::-webkit-scrollbar {
//   width: 1.4rem;
//   height: 1.4rem;
//   background-color: transparent;
// }

// ::-webkit-scrollbar-thumb {
//   min-width: 3rem;
//   min-height: 3rem;
//   background-color: rgba(0, 0, 0, 0.25);
//   // background-color: #e2c5c9;
//   border: 0.4rem solid transparent;
//   -moz-background-clip: content;
//   -webkit-background-clip: content;
//   background-clip: content-box;
//   border-radius: 1rem;
// }
// ::-webkit-scrollbar-track:vertical {
//   border-left: 1px solid rgba(0, 0, 0, 0.1);
//   // border-left: 1px solid #eddbde;
// }
body {
  font-family: 'Quicksand', sans-serif;
  @apply text-rose-gold-900;
}
.logo {
  max-width: 220px;
}
