*,
button {
  outline: none !important;
}
body {
  font-family: 'Quicksand', sans-serif;
  @apply text-rose-gold-900;
}
.logo {
  max-width: 220px;
}
.grow img {
  transition: all 0.2s ease-in-out;
}
.grow:hover img {
  transform: scale(1.1);
}
