<div id="main-carousel" class="l-embla">
  <div class="l-embla-viewport">
    <div class="l-embla-wrapper">
      @@for (let i = 0; i < 6; i++) {
      <div class="l-embla-content">
        <div
          class="relative flex justify-center w-full h-full overflow-hidden rounded-xl"
        >
          <img
            src="./assets/img/bg-espaco.jpg"
            alt=""
            class="object-cover w-full"
          />
        </div>
      </div>
      }
    </div>
  </div>
</div>

<div id="thumb-carousel" class="l-embla">
  <div class="l-embla-viewport">
    <div class="l-embla-wrapper">
      @@for (let i = 0; i < 6; i++) {
      <div class="h-20 md:h-24 l-embla-content">
        <button class="w-full h-full overflow-hidden rounded-xl" type="button">
          <img
            class="object-cover w-full h-full"
            src="./assets/img/bg-espaco.jpg"
          />
        </button>
      </div>
      }
    </div>
  </div>
</div>
