#main-carousel {
  .l-embla-viewport {
    overflow: hidden;
    width: 100%;
  }
  .l-embla-wrapper {
    display: flex;
    margin-left: -8px;
  }
  .l-embla-content {
    padding-left: 8px;
    flex: 0 0 auto;
    width: 100%;
    height: clamp(340px, calc(600 / 1536 * 100vw), 600px);
  }
}

#thumb-carousel {
  .l-embla-wrapper {
    cursor: default;
    padding-top: 8px;
    margin-left: -8px;
  }
  .l-embla-content {
    padding-left: 8px;
    min-width: 25%;
    @media (min-width: 480px) {
      min-width: 20%;
    }

    img {
      opacity: 0.4;
      transition: opacity 0.2s;

      @media (min-width: 1024px) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .is-selected {
    img {
      opacity: 1;
    }
  }
}
