---
layout: default
title: Home
description: Home description
script: ./assets/js/home.min.js
---

<div id="l-slide" class="mt-2 l-embla md:mt-0">
  <div class="l-embla-viewport">
    <div class="l-embla-wrapper">
      @@for (let i = 0; i < 3; i++) {
      <a href="./sobre.html" title="" class="container l-embla-content">
        <div
          class="relative flex justify-center w-full h-full overflow-hidden rounded-xl"
        >
          <img src="./assets/img/bg-espaco.jpg" alt="" />
          <div
            class="absolute bottom-0 w-full p-8 pt-10 text-white slide-content bg-gradient-to-t from-black lg:p-16"
          >
            <h2 class="text-2xl font-semibold md:text-3xl lg:text-4xl">
              Lorem ipsum
            </h2>
            <p class="max-w-2xl lg:mt-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
              perspiciatis.
            </p>
            <span class="flex items-center mt-5 space-x-3">
              <span class="transition border-b border-transparent hover:border-b hover:border-white">Saiba mais</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" class="w-3 h-3 text-white fill-current">
                  <g fill-rule="evenodd">
                    <g fill-rule="nonzero">
                      <g>
                        <g>
                          <g>
                            <g>
                              <path d="M8.929 1.407L9.969.339c.44-.452 1.153-.452 1.59 0l9.11 9.344c.441.452.441 1.182 0 1.63l-9.11 9.348c-.441.452-1.154.452-1.59 0l-1.04-1.068c-.446-.456-.436-1.202.018-1.649l5.648-5.52H1.125C.502 12.424 0 11.909 0 11.269V9.731c0-.64.502-1.155 1.125-1.155h13.47l-5.648-5.52c-.459-.447-.468-1.193-.018-1.65z" transform="translate(-842 -5697) translate(-404 5278) translate(571) translate(675 419)"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
            </span>
          </div>
        </div>
      </a>
      }
    </div>
  </div>

  <button class="hidden l-embla-btn l-embla-btn-prev lg:block" type="button">
    <svg class="l-embla-btn-svg" viewBox="137.718 -1.001 366.563 643.999">
      <path
        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
      ></path>
    </svg>
  </button>
  <button class="hidden l-embla-btn l-embla-btn-next lg:block" type="button">
    <svg class="l-embla-btn-svg" viewBox="0 0 238.003 238.003">
      <path
        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
      ></path>
    </svg>
  </button>
</div>
<div class="l-embla-dots"></div>
<script type="text/template" id="embla-dot-template">
  <button class="l-embla-dot" type="button"></button>
</script>

<section class="mt-4 sm:mt-8 md:mt-12 lg:mt-16">
  <div class="m-auto text-center">
    <h2
      class="text-2xl font-black sm:text-3xl md:text-4xl lg:text-5xl text-rose-gold-500"
    >
      <span class="block text-rose-gold-900">Equilíbrio e Bem-estar</span>
      <span class="block sm:inline">para você viver em sintonia com o Todo</span>
    </h2>
  </div>

  <div
    class="relative grid grid-cols-1 grid-rows-5 gap-px m-auto my-4 max-w-2/10 sm:mx-8 lg:m-auto sm:max-w-5xl sm:grid-cols-2 sm:grid-rows-2 sm:my-8 md:my-12 lg:my-12 bg-rose-gold-200"
  >
    <div
      class="flex flex-col items-center w-full py-4 text-center bg-white sm:py-8 md:py-12 lg:py-16"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-16 h-16 fill-current sm:w-20 sm:h-20 text-rose-gold-900"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
      <h3
        class="font-bold text-1xl sm:text-2xl md:text-3xl lg:text-4xl text-rose-gold-500"
      >
        Emocional
      </h3>
      <p class="p-2 sm:px-8 md:px-16 lg:px-20">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
        alias?
      </p>
    </div>
    <div
      class="flex flex-col items-center w-full py-4 text-center bg-white sm:py-8 md:py-12 lg:py-16"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 24 24"
        viewBox="0 0 24 24"
        class="w-16 h-16 fill-current sm:w-20 sm:h-20 text-rose-gold-900"
      >
        <g><rect fill="none" /></g>
        <g>
          <g>
            <path
              d="M13,8.57c-0.79,0-1.43,0.64-1.43,1.43s0.64,1.43,1.43,1.43s1.43-0.64,1.43-1.43S13.79,8.57,13,8.57z"
            />
            <path
              d="M13,3C9.25,3,6.2,5.94,6.02,9.64L4.1,12.2C3.85,12.53,4.09,13,4.5,13H6v3c0,1.1,0.9,2,2,2h1v3h7v-4.68 c2.36-1.12,4-3.53,4-6.32C20,6.13,16.87,3,13,3z M16,10c0,0.13-0.01,0.26-0.02,0.39l0.83,0.66c0.08,0.06,0.1,0.16,0.05,0.25 l-0.8,1.39c-0.05,0.09-0.16,0.12-0.24,0.09l-0.99-0.4c-0.21,0.16-0.43,0.29-0.67,0.39L14,13.83c-0.01,0.1-0.1,0.17-0.2,0.17h-1.6 c-0.1,0-0.18-0.07-0.2-0.17l-0.15-1.06c-0.25-0.1-0.47-0.23-0.68-0.39l-0.99,0.4c-0.09,0.03-0.2,0-0.25-0.09l-0.8-1.39 c-0.05-0.08-0.03-0.19,0.05-0.25l0.84-0.66C10.01,10.26,10,10.13,10,10c0-0.13,0.02-0.27,0.04-0.39L9.19,8.95 c-0.08-0.06-0.1-0.16-0.05-0.26l0.8-1.38c0.05-0.09,0.15-0.12,0.24-0.09l1,0.4c0.2-0.15,0.43-0.29,0.67-0.39l0.15-1.06 C12.02,6.07,12.1,6,12.2,6h1.6c0.1,0,0.18,0.07,0.2,0.17l0.15,1.06c0.24,0.1,0.46,0.23,0.67,0.39l1-0.4c0.09-0.03,0.2,0,0.24,0.09 l0.8,1.38c0.05,0.09,0.03,0.2-0.05,0.26l-0.85,0.66C15.99,9.73,16,9.86,16,10z"
            />
          </g>
        </g>
      </svg>
      <h3
        class="font-bold text-1xl sm:text-2xl md:text-3xl lg:text-4xl text-rose-gold-500"
      >
        Mental
      </h3>
      <p class="p-2 sm:px-8 md:px-16 lg:px-20">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
        alias?
      </p>
    </div>

    <div
      class="relative grid bg-white sm:border sm:border-solid sm:rounded-full sm:w-40 sm:h-40 sm:transform sm:-translate-x-1/2 sm:-translate-y-1/2 sm:absolute sm:border-rose-gold-200 sm:top-1/2 sm:left-1/2 place-items-center equilibrium"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="relative z-20 w-20 h-20 fill-current text-rose-gold-900"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M18.6 6.62c-1.44 0-2.8.56-3.77 1.53L12 10.66 10.48 12h.01L7.8 14.39c-.64.64-1.49.99-2.4.99-1.87 0-3.39-1.51-3.39-3.38S3.53 8.62 5.4 8.62c.91 0 1.76.35 2.44 1.03l1.13 1 1.51-1.34L9.22 8.2C8.2 7.18 6.84 6.62 5.4 6.62 2.42 6.62 0 9.04 0 12s2.42 5.38 5.4 5.38c1.44 0 2.8-.56 3.77-1.53l2.83-2.5.01.01L13.52 12h-.01l2.69-2.39c.64-.64 1.49-.99 2.4-.99 1.87 0 3.39 1.51 3.39 3.38s-1.52 3.38-3.39 3.38c-.9 0-1.76-.35-2.44-1.03l-1.14-1.01-1.51 1.34 1.27 1.12c1.02 1.01 2.37 1.57 3.82 1.57 2.98 0 5.4-2.41 5.4-5.38s-2.42-5.37-5.4-5.37z"
        />
      </svg>
    </div>

    <div
      class="flex flex-col items-center w-full py-4 text-center bg-white sm:py-8 md:py-12 lg:py-16"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        enable-background="new 0 0 24 24"
        viewBox="0 0 24 24"
        class="w-16 h-16 fill-current sm:w-20 sm:h-20 text-rose-gold-900"
      >
        <g><rect fill="none" /></g>
        <g>
          <g>
            <circle cx="12" cy="6" r="2" />
            <path
              d="M21,16v-2c-2.24,0-4.16-0.96-5.6-2.68l-1.34-1.6C13.68,9.26,13.12,9,12.53,9h-1.05c-0.59,0-1.15,0.26-1.53,0.72l-1.34,1.6 C7.16,13.04,5.24,14,3,14v2c2.77,0,5.19-1.17,7-3.25V15l-3.88,1.55C5.45,16.82,5,17.48,5,18.21C5,19.2,5.8,20,6.79,20H9v-0.5 c0-1.38,1.12-2.5,2.5-2.5h3c0.28,0,0.5,0.22,0.5,0.5S14.78,18,14.5,18h-3c-0.83,0-1.5,0.67-1.5,1.5V20h7.21 C18.2,20,19,19.2,19,18.21c0-0.73-0.45-1.39-1.12-1.66L14,15v-2.25C15.81,14.83,18.23,16,21,16z"
            />
          </g>
        </g>
      </svg>
      <h3
        class="font-bold text-1xl sm:text-2xl md:text-3xl lg:text-4xl text-rose-gold-500"
      >
        Espiritual
      </h3>
      <p class="p-2 sm:px-8 md:px-16 lg:px-20">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
        alias?
      </p>
    </div>
    <div
      class="flex flex-col items-center w-full py-4 text-center bg-white sm:py-8 md:py-12 lg:py-16"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-16 h-16 fill-current sm:w-20 sm:h-20 text-rose-gold-900"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M13.49 5.48c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-3.6 13.9l1-4.4 2.1 2v6h2v-7.5l-2.1-2 .6-3c1.3 1.5 3.3 2.5 5.5 2.5v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1l-5.2 2.2v4.7h2v-3.4l1.8-.7-1.6 8.1-4.9-1-.4 2 7 1.4z"
        />
      </svg>
      <h3
        class="font-bold text-1xl sm:text-2xl md:text-3xl lg:text-4xl text-rose-gold-500"
      >
        Físico
      </h3>
      <p class="p-2 sm:px-8 md:px-16 lg:px-20">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur,
        alias?
      </p>
    </div>
  </div>
  
  <div class="m-auto text-center">
    <h2
      class="text-2xl font-black sm:text-3xl md:text-4xl lg:text-5xl text-rose-gold-500"
    >
      <span class="block text-rose-gold-900">Tudo faz parte do Todo</span>
      <span class="block sm:inline">e o Todo está contido</span> em Tudo
    </h2>
  </div>
</section>

<section class="w-full py-4 sm:py-8 md:py-12 lg:py-16">
  <div class="grid grid-cols-max-xl-12 auto-rows-auto">
    <div class="hidden h-16 col-start-1 col-end-2 row-start-1 lg:block lg:h-64 bg-rose-gold-200"></div>
    <div class="col-start-1 col-end-13 row-start-1 lg:col-start-2 lg:col-end-5">
      <div class="flex items-center h-16 lg:h-48 xl:h-64 bg-rose-gold-200 rounded-r-xl">
        <h3
          class="p-4 text-2xl font-bold text-rose-gold-900 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:pl-0"
        >
          Nossas terapias
        </h3>
      </div>
      <div class="p-4 lg:pr-8 sm:py-4 md:py-8 lg:pt-4 lg:pb-0 2xl:pl-0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tenetur. Consectetur dolores eum inventore exercitationem vitae est dolore debitis eos.
        </p>
        <a href="./nossas-terapias.html" title="" class="justify-center hidden px-4 py-2 mt-4 text-center transition border-2 border-solid rounded-full border-rose-gold-50 ring-1 ring-rose-gold-500 text-rose-gold-50 bg-rose-gold-500 lg:inline-flex hover:bg-rose-gold-600">
          Ver todas
        </a>
      </div>
    </div>

    <div class="row-start-2 pl-4 col-span-full lg:col-span-10 lg:col-start-5 lg:row-start-1">
    
      <div id="l-services" class="l-embla">
        <div class="l-embla-viewport">
          <div class="l-embla-wrapper">
            @@for (let i = 0; i < 6; i++) {
              <a href="./sobre.html" title="" class="l-embla-content">
                <div
                  class="relative flex justify-center w-full h-full overflow-hidden rounded-xl"
                >
                  <img src="./assets/img/bg-espaco.jpg" alt="" />
                  <div
                    class="absolute bottom-0 w-full p-6 pt-10 text-white md:p-8 slide-content bg-gradient-to-t from-black"
                  >
                    <h2 class="text-2xl font-semibold">
                      Lorem ipsum
                    </h2>
                    <p class="max-w-2xl lg:mt-2">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
                      perspiciatis.
                    </p>
                    <span class="flex items-center mt-5 space-x-3">
                      <span class="transition border-b border-transparent hover:border-b hover:border-white">Saiba mais</span>
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21" class="w-3 h-3 text-white fill-current">
                          <g fill-rule="evenodd">
                            <g fill-rule="nonzero">
                              <g>
                                <g>
                                  <g>
                                    <g>
                                      <path d="M8.929 1.407L9.969.339c.44-.452 1.153-.452 1.59 0l9.11 9.344c.441.452.441 1.182 0 1.63l-9.11 9.348c-.441.452-1.154.452-1.59 0l-1.04-1.068c-.446-.456-.436-1.202.018-1.649l5.648-5.52H1.125C.502 12.424 0 11.909 0 11.269V9.731c0-.64.502-1.155 1.125-1.155h13.47l-5.648-5.52c-.459-.447-.468-1.193-.018-1.65z" transform="translate(-842 -5697) translate(-404 5278) translate(571) translate(675 419)"></path>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
              </a>
              }
          </div>
        </div>
        
        <button class="hidden l-embla-btn l-embla-btn-prev lg:block" type="button">
          <svg class="l-embla-btn-svg" viewBox="137.718 -1.001 366.563 643.999">
            <path
              d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
            ></path>
          </svg>
        </button>
        <button class="hidden l-embla-btn l-embla-btn-next lg:block" type="button">
          <svg class="l-embla-btn-svg" viewBox="0 0 238.003 238.003">
            <path
              d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
            ></path>
          </svg>
        </button>
    </div>
  </div>
</section>

<div class="w-full max-w-screen-xl m-auto mt-4 mb-6 text-center lg:hidden">
  <a href="#" title="" class="inline-flex justify-center px-4 py-2 text-center border-2 border-solid rounded-full border-rose-gold-50 ring-1 ring-rose-gold-500 text-rose-gold-50 bg-rose-gold-500">
    Ver todas
  </a>
</div>

<div class="w-full max-w-screen-xl py-4 m-auto lg:py-16">
  <div class="relative flex flex-col items-center mx-4 xl:mx-0">
    <img src="./assets/img/icone-hr-logo-lavi-terapias-alternativas.svg" alt="" class="relative z-10 w-16 h-16 p-4 bg-white">
    <hr class="absolute w-full border-rose-gold-200 top-1/2">
  </div>
</div>

<section class="w-full">
  <div class="max-w-screen-xl m-auto">
    <h2
      class="px-4 text-2xl font-bold text-center sm:text-3xl md:text-4xl lg:text-5xl text-rose-gold-500 2xl:pl-0"
    >
      Espaço Laví
    </h2>
    <p class="max-w-2xl p-4 pb-0 m-auto text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tenetur. Consectetur dolores eum inventore exercitationem vitae est dolore debitis eos.
    </p>
  </div>
  <div class="max-w-screen-lg px-4 pt-4 m-auto text-center sm:pt-6 md:pt-10 2xl:px-0 lg:pb-16">
  
  {{> galery }}
    
  <a href="./espaco.html" title="" class="inline-flex justify-center px-4 py-2 mt-8 text-center transition border-2 border-solid rounded-full border-rose-gold-50 ring-1 ring-rose-gold-500 text-rose-gold-50 bg-rose-gold-500 hover:bg-rose-gold-600">
    Conheça nosso espaço
  </a>
  </div>
</section>