<footer
  class="relative w-full py-12 border-t-2  mt-28 bg-rose-gold-500 border-rose-gold-200"
>
  <img
    src="./assets/img/icone-logo-lavi-terapias-complementares.svg"
    width="104"
    height="104"
    alt="Laví Terapias Complementares"
    class="absolute transform -translate-x-1/2 border-2 border-solid rounded-full  border-rose-gold-200 bg-rose-gold-200 -top-14 left-1/2"
    loading="lazy"
  />
  <div
    class="max-w-screen-xl m-auto mt-10 font-semibold text-center  text-rose-gold-200"
  >
    <h3 class="text-xl">Laví - Terapias Complementares</h3>
    <div class="flex justify-center my-4 space-x-4">
      <a
        href="https://www.instagram.com/lavi.terapias/"
        title="Instagram Laví Terapias"
        target="_blank"
      >
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 56.7 56.7"
          enable-background="new 0 0 56.7 56.7"
          xml:space="preserve"
          class="w-8 h-8 transition fill-current  text-rose-gold-900 hover:text-rose-gold-800"
        >
          <g>
            <path
              d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
            />
            <circle cx="41.5" cy="16.4" r="2.9" />
            <path
              d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
            />
          </g>
        </svg>
      </a>
      <a
        href="https://www.facebook.com/lavi.terapias/"
        title="Facebook - Laví Terapias"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          enable-background="new 0 0 24 24"
          viewBox="0 0 24 24"
          fill="black"
          width="48px"
          height="48px"
          class="w-8 h-8 transition fill-current  text-rose-gold-900 hover:text-rose-gold-800"
        >
          <rect fill="none" height="24" width="24" />
          <path
            d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"
          />
        </svg>
      </a>
    </div>
    <a href="./como-chegar.html" title="Localização">
      <address>
        R. Jaime Gabriel dos Santos, 362 <br />
        Jardim Planalto, Brotas - SP, 17380-000
      </address>
    </a>
    <span class="inline-block pt-4 font-bold text-rose-gold-900">
      (14) 99764-1714
    </span>
  </div>
</footer>
