<header class="w-full">
  <nav class="text-center">
    <div class="flex justify-center w-full p-4 pb-2 md:hidden">
      <img
        src="./assets/img/logo-lavi-terapias-alternativas.svg"
        alt=""
        class="w-2/5 logo"
      />
    </div>

    <div id="l-menu" class="l-embla">
      <div class="l-embla-viewport">
        <div class="l-embla-wrapper">
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href=""
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900"
              >
                Home
              </a>
            </div>
          </div>
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href="/sobre.html"
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900 active"
              >
                Nossas terapias
              </a>
            </div>
          </div>
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href=""
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900"
              >
                Espaço
              </a>
            </div>
          </div>
          <div class="hidden l-embla-content md:block">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a href="" title="" class="">
                <img
                  src="./assets/img/logo-lavi-terapias-alternativas.svg"
                  alt=""
                  class="logo"
                />
              </a>
            </div>
          </div>
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href=""
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900"
              >
                Sobre
              </a>
            </div>
          </div>
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href=""
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900"
              >
                Como chegar
              </a>
            </div>
          </div>
          <div class="l-embla-content">
            <div class="flex justify-center w-full p-3 md:p-4 lg:p-6">
              <a
                href=""
                title=""
                class="font-medium leading-7 transition border-b border-white border-solid whitespace-nowrap hover:border-rose-gold-900"
              >
                Contato
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
