.oddeven-child {
    img {
        max-height: 275px;
    }
    input {
        
        &:checked ~ .oddeven-text {
            transition: max-height 1s;  
            max-height: 900px;
        }
    }
}
.oddeven-text {
    transition: max-height 1s;
    max-height: 290px;

    // &:hover {
    //     max-height: 100%;
    // }
}
@media (min-width: 1024px) {
    .oddeven:nth-child(even) .oddeven-child {
        flex-direction: row-reverse;
    }
}