#l-menu {
  .l-embla-wrapper {
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      justify-content: center;
      transform: initial !important;
    }
  }
  a.active {
    border-bottom: 1px solid;
  }
}
