#l-menu {
  .l-embla-wrapper {
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      justify-content: center;
      transform: initial !important;
    }
  }
  a.active {
    border: 1px solid;
    @apply bg-rose-gold-100 border-rose-gold-100 shadow-sm;
  }
}
